.container1 {
    display: flex;
    background-color: #e1eedcd7;
    height: 100px;
    padding: 90px;
    margin: 0px;

}

.container2 {
    display: flex;
    background-color: #808000;
    padding: 90px;
    height: 600px;
    margin: 0px;

}

#navbar {
    width: 700px;
    margin: 0 auto;
    list-style-type: none;
}

#navbar li{
    float: left;

}

#navbar li a {
    padding: 8px 0;
    background: #067414;
    display: block;
    height: 40px;
    line-height: 40px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px 2px 5px 2px;
    transition: 2s background-color ease 0s;
}

#navbar li a:hover{
    background-color: lightgreen;
    border-bottom: 1px solid black;
}


